<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mmmm, interlicious</title>
{% include meta.html %}    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
      <div class="center">
    			       <div class="yel">_//_\\
                             ,"    //".
                            /          \
                          _/           |
                         (<div class="wht">.-,--.</div>       |</div>
        <div class="grn">Mmmmm</div>,           <div class="wht">/o/  o \</div> <div class="yel">    /</div>
         <div class="grn">Interlicious</div>    <div class="wht">\_\    /</div><div class="yel">  /\/\
                 <div class="grn">\</div>       (__<div class="wht">`--'</div>   ._)
                         /  `-.     |
                        (     ,`-.  |
                         `-,--\_  ) |</div><div class="blu">-.
                          _<div class="yel">`.__.'  </div>,-' \
                         |\ )  _.-'    |
                         i-\.'\     ,--+.
                       .' .'   \,-'/     \
                      / /         /       \
      </div>
    </div>
    <!-- {{ content }} -->
  </body>
</html>
